.containerRegister {
    margin-top: 170px;
    margin-left: 480px;
    width: 33%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  

#role {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }
  
  #role option {
    font-size: 16px;
  }

  h1 {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }